
.profile-detail {
    list-style: none; 
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;   
}
.profile-detail__row {
    padding: 0 0 1rem 0;
}
.profile-detail__text {
    color: white;
    display: inline-block;
    margin-right: 8px;
}
.profile-detail__text--opacity {
    opacity: .8;
}

/* Button */
.button-download {
    display: inline-flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    background: var(--color-principal);
    width: 200px;
    height: 40px;
    border-radius: 20px;
    text-decoration: none;
    color: white;
    position: relative;
    margin-top: 20px;
}
.button-download__icon {
    color: transparent;
    font-size: 13px;
    bottom: 15px;
    transition: all 0.5s;
    position: absolute;
    right: 25%;
    /* bottom: 13px; */
}
.button-download:hover .button-download__icon{
    right: 30px;
    color: white;
    transition: all 0.5s;
}
.button-download__text {
    position: relative;
    right: 0;
    transition: all 0.5s;
}
.button-download:hover .button-download__text{
    right: 13px;
    transition: all 0.5s;
}