/* Page About */

/* Section 1 */
.about {
    /* position: relative; */
}
.about__title {
    text-align: center;
    padding: 4rem 0;
    font-size: 3rem;
    font-weight: 800;
    position: relative;
}
.about__text {
    color: var(--color-principal);
}
.about-title-transparent {
    font-size: 6rem;
    position: absolute;
    top: 2rem;
    left: 0;
    right: 0;
    font-weight: 800;
    opacity: 0.02;
}
.container {
    display: flex;
    justify-content: space-around;
    margin: 0 7%;
}
.content {
    width: 100%;
}
.content__title {
    padding: 0 0 2rem 0;
}

.col-7__text-2 {
    color: white;
    display: inline-block;
}


