.statistical-data {
    list-style: none;
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
}
.statistical-data__detail {
    border: 1px solid var(--color-grey-dark);
    margin: 0 0 30px 0;
    height: 150px;
    width: 90%;
    border-radius: 5px;
    padding: 20px 0 0 40px;
}
.statistical-data__title {
    color: var(--color-principal);
    font-size: 3rem;
    font-weight: bold;
}
.statistical-data__contain {
    display: flex;
}
.statistical-data__linear {
    opacity: 0.2;
    margin-right: 7%;
}
.statistical-data__text {
    text-align: center;
    display: inline-block;
    margin-top: 8%;
}
.statistical-data__text--display-block {
    display: block;
    margin-top: 4%;
}
