/* Page Contact */

.contact {
    /* position: relative; */
}
.contact__title {
    text-align: center;
    padding: 4rem 0;
    font-size: 3rem;
    font-weight: 800;
    position: relative;
}
.contact__text {
    color: var(--color-principal);
}
.contact-title-transparent {
    font-size: 7rem;
    position: absolute;
    top: 1rem;
    left: 0;
    right: 0;
    font-weight: 800;
    opacity: 0.02;
}

.container-contact {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 4%;
    width: 80%;
    margin: 0 auto;
}
.contain-info {

}
.contact-message__title {
    margin-bottom: 1rem;
}
.contact-message__text {
    margin-bottom: 1rem;
    line-height: 1.5rem;
}
.data-contact {
    display: grid;
    grid-template-columns: 1fr 6fr;
    align-items: center;
    margin-bottom: 1rem;
}
.data-contact__icon {
    color: var(--color-principal);
    font-size: 2rem;
}
.data-contact__title {

}
.data-contact__email {

}
.data-contact__phone {

}


/* Form */

.form-contact {

}
.form-contact__contain-info {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 25px;
}
.form-contact__input {
    background-color: rgb(255 255 255 / 9%);
    height: 46px;
    border-radius: 30px;
    outline: none;
    border: none;
    padding: 0 20px;
    color: #fff;
    font-size: 1rem;
}
.form-contact__input::-webkit-input-placeholder {
    color: rgb(255 255 255 / 30%);
    font-size: 1rem;
}
.form-contact__text-area {
    width: 100%;
    height: 150px;
    border: none;
    border-radius: 30px;
    padding: 20px;
    margin-top: 2rem;
    background-color: rgb(255 255 255 / 9%);
    font-size: 1rem;
    color: #fff;
    outline: none;
    font-family: 'Roboto', 'Poppins', sans-serif;
    overflow: hidden;
}
.form-contact__text-area::-webkit-input-placeholder {
    color: rgb(255 255 255 / 30%);
    font-size: 1rem;
}
.form-contact__button {
    background: var(--color-principal);
    width: 200px;
    height: 40px;
    border-radius: 20px;
    color: #fff;
    margin-top: 2rem;
    border: none;
    outline: none;
    cursor: pointer;
}