:root {
  --color-principal: #8A0808;
  --color-grey: #2b2a2a;
  --color-grey-dark: #252525;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Roboto', 'Poppins', sans-serif;
  color: #fff;
  background: #111;
}

